.sec-screen-head {
  header {
    .title {
      margin: 0;
      font-size: 14px;
      font-weight: 700;
    }

    .sub-title {
      margin: 0;
      font-size: 12px;
      color: #555555
    }
  }
}

.sec-screen-nav {
  img {
    cursor: pointer;
  }
}