.icon-btn {
  .shape {
    width: 56px;
    height: 56px;
    border-radius: 10px;
    position: relative;
  }

  p {
    text-align: center;
    font-size: 12px;
    margin: 3px 0;
    font-weight: 700;
  }

  img {
    height: 20px
  }
}